## Supabase
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImltZWFkZm5sZ3pwaHVtdWF3ZHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExOTgyOTAsImV4cCI6MjA5Njc3NDI5MH0.SGPJajfqa3B3x9KDalSaux1RLDSoxdoF0LCmqLVfZMY"
VITE_SUPABASE_PROJECT_ID="imeadfnlgzphumuawdyt"
VITE_SUPABASE_URL="https://imeadfnlgzphumuawdyt.supabase.co"
DATABASE_URL=postgresql://postgres:Netto@964212$@db.imeadfnlgzphumuawdyt.supabase.co:5432/postgres

